
/* Instruções
Escolha uma imagem de banner.
Essa imagem deve conter ao menos 1280x720 pixels.
Coloque essa imagem como background-image.
Dê uma largura e altura para a mesma.
Adicione um título para o seu banner h1.
Adicione um subtítulo para o banner também h2.
Crie um botão a partir da tag <button>Meu botão</button>.
Dê uma altura e uma largura usando apenas o box-model.
Dê uma borda arredondada.
Escolha uma cor bem bacana.
Centralize todos os itens com text-align: center; para que os itens do banner fiquem centralizados.
Coloque um padding vertical no banner para centralizar os itens verticalmente. */
/* Conclusão */
#mf {
    background-image: url("bunnerbible.jpg") ;
    position: center;
    margin-top: 40px;
    height: 500px; 
    text-align: center;
    border-radius: 20px;

}
button{
    margin-bottom: 20px;
    height: 25px;
    width: 100px;  
    border:solid 5px blueviolet;
    border-radius: 10px;
    color: violet;
}h1, h2{
    color: white;
    padding: 10px;
}





















