.main_title {

    color:gray;
    font-size: 42px;
    background-color:greenyellow;

}

.corpo{
    background-color: gray;
}


.main_subtitle{

    color:coral;
    font-size: 39px;
}


ul{
    background-color: gray ;
}